.card-carousel {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 10000px !important;
}

.splide__slide {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    width: 100px;
    padding: 20px;
    transition: transform 0.2s;
}


.splide__slide img {
    max-width: 10%;
    border-radius: 10px;
}

.splide__slide h3 {
    font-size: 20px;
    margin: 10px 0;
}

.splide__slide p {
    font-size: 14px;
    color: #777;
}

.splide__track {
    display: flex;
    align-items: center;
}

.splide__track.is-drag {
    cursor: grab;
}

.splide__track.is-drag.is-moving {
    cursor: grabbing;
}

.splide__arrows {
    top: 50%;
    z-index: 2;
}

.splide__arrow {
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.splide__arrow.splide__arrow--prev {
    background-color: aqua;
    right: 100%;
}


.maintxt {
    color: #1f1f1f;
    font-weight: 500;
    font-size: 14.5px;
}

.name {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.para {
    color: #8c8c8c;
    font-size: 12px;
    position: relative;
    bottom: 3px;
}

.splide__arrow.splide__arrow--next {
    right: -1% !important;
}




.cs-card {
    position: relative;
    border: solid 1px #212121;
    padding: 45px 50px 25px 60px;
    margin-top: 200px;
    background-color: #212121;
    border-radius: 10px;
    color: #fff;
}

.post-txt {
    font-size: 20px;
    margin-bottom: 0;
}

.quote-img {
    position: absolute;
    top: 32px;
    left: 25px;
    width: 30px;
    height: 30px;
}

.nice-img {
    width: 20px;
    height: 25px;
    margin-bottom: 7px;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #212121;
    margin-left: 85px;
}

.fit-image {
    width: 100%;
    object-fit: cover;
}

.profile-pic {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 65px;
    margin-top: 15px;
}

.profile-name {
    position: absolute;
    font-size: 22px;
    margin-top: 60px;
    left: 210px;
    color: #616161;
}